<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout_spa}">


<div id="contentContainer" th:fragment="content">

  <header>
    <!-- 상단 바 -->
    <div class="top-header">
      <nav class="navbar navbar-light bg-light" style="--bs-breadcrumb-divider: '∣';" aria-label="breadcrumb">
        <div class="container d-flex justify-content-end">
          <ol class="breadcrumb mb-0" style="font-size:12px">
            <th:block sec:authorize="isAuthenticated()">

              <!-- 유저 -->
              <th:block sec:authorize="hasAnyRole('ROLE_USER', 'ROLE_SOCIAL')">
                <li class="breadcrumb-item"><a class="text-decoration-none" th:with="href=@{/member/profile}" href="javascript:void(0);"
                                               th:onclick="navigateTo([[${href}]]);">내 정보</a></li>
                <li class="breadcrumb-item"><a class="text-decoration-none" th:with="href=@{/member/myDocument}" href="javascript:void(0);"
                                               th:onclick="navigateTo([[${href}]]);">내 게시물</a></li>
                <li class="breadcrumb-item"><a class="text-decoration-none" th:with="href=@{/member/myComment}" href="javascript:void(0);"
                                               th:onclick="navigateTo([[${href}]]);">내 댓글</a></li>
              </th:block>

              <!-- 관리자 -->
              <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                <li class="breadcrumb-item"><a class="text-decoration-none" th:with="href=@{/admin/members}" href="javascript:void(0);"
                                               th:onclick="navigateTo([[${href}]]);">회원 관리</a></li>
                <li class="breadcrumb-item"><a class="text-decoration-none" th:with="href=@{/admin/myDocument}" href="javascript:void(0);"
                                               th:onclick="navigateTo([[${href}]]);">내 게시물</a></li>
                <li class="breadcrumb-item"><a class="text-decoration-none" th:with="href=@{/admin/postStat}" href="javascript:void(0);"
                                               th:onclick="navigateTo([[${href}]]);">게시판 통계</a></li>
              </th:block>

              <!-- 알림 -->
              <!-- 알림이 1개 이상 -->
              <li class="breadcrumb-item d-flex align-items-center">
                <div class="dropdown">
                  <a class="text-decoration-none" href="javascript:;" data-bs-toggle="dropdown">알림</a>
                  <ul class="dropdown-menu dropdown-menu-end p-2" id="oc_notification"
                      style="max-height:200px;overflow-y:scroll;font-size:12px;white-space:nowrap;">
                    <li th:each="notification:${notifications}" th:if="${notifications.size()} != 0">
                      <a class="dropdown-item" th:with="href=@{${notification.url}}" href="javascript:void(0);"
                         th:onclick="navigateTo([[${href}]]);">
                        <span th:text="${notification.sender}">아기로메로</span>
                        <span th:text="${#strings.abbreviate(notification.content, 12)}">내용</span>
                        <span th:text="${notification.createdDate}">4 일 전</span>
                      </a>
                    </li>
                    <!-- 알림이 없을경우 -->
                    <li th:unless="${notifications.size()} != 0">
                      알림이 존재하지 않습니다
                    </li>
                  </ul>
                </div>
                <!-- 읽지 않은 알림 갯수 -->
                <span class="badge bg-danger ms-1" th:text="${notifications.size() == 0 ? '' : notifications.size()}" id="notificationCount">4</span>
              </li>

              <!-- 로그아웃 -->
              <li class="breadcrumb-item">
                <form id="logoutForm" th:action="@{/logout}" method="post" style="display:inline">
                                                <span style="border: 1px solid #ccc;background: #fff;padding: 2px 7px 2px 7px;border-radius: 5px;">
                                                    <a class="text-decoration-none" href="javascript:;" onclick="logout()">로그아웃</a>
                                                </span>
                </form>
              </li>
            </th:block>
            <th:block sec:authorize="isAnonymous()">
              <li class="breadcrumb-item"><a class="text-decoration-none" th:href="@{/signup}">회원가입</a></li>
              <li class="breadcrumb-item"><a class="text-decoration-none" th:href="@{/login}">로그인</a></li>
            </th:block>
          </ol>
        </div>
      </nav>
    </div>
    <!-- 로고 -->
    <div class="container p-2">
      <div class="d-flex justify-content-center">
        <a class="text-decoration-none" th:with="href=@{/}" href="javascript:void(0);"
           th:onclick="navigateTo([[${href}]]);">
          <img th:src="@{/img/logo/oneuldo_logo_short.png}" alt="logo" width="200">
        </a>
      </div>
    </div>
  </header>


  <div class="container">

    <!-- 모바일 화면에 출력 -->
    <div class="row d-md-none">
      <div class="d-flex justify-content-center align-items-center" style="height:100px">
        <h4>나의 게시물</h4>
      </div>

      <div>
        <table class="table">
          <thead>
            <tr style="font-size:14px">
              <th style="border-top:2px solid #444">제목</th>
              <th style="border-top:2px solid #444">작성일</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="post,stat:${posts}" th:if="${posts.getTotalElements() != 0}" style="font-size:13px">
              <td class="title">
                <a class="text-underline-hover text-dark" th:with="href=@{/post/{postId}(postId=${post.id})}"
                   href="javascript:void(0);" th:onclick="navigateTo([[${href}]]);" th:text="${post.title}">제목</a>
                <span th:text="|[${post.commentCount}]|" th:if="${post.commentCount} != 0">댓글개수</span>
                <i class="upload_image" title="사진" th:if="${post.imageYn}" th:style="'background:url(' + @{/img/image.gif} + ');'"></i>
                <div class="info">
                  <span class="separator">게시판: [[${post.categoryName}]]</span>
                  <span th:classappend="${post.likeCount != 0 ? 'separator' : ''}">조회: [[${post.viewCount}]]</span>
                  <span th:if="${post.likeCount != 0}">추천: [[${post.likeCount == 0 ? '' : post.likeCount}]]</span>
                </div>
              </td>
              <td class="reg_time" th:text="${post.createdDate}">2024-01-01</td>
            </tr>
            <tr class="no_content" th:unless="${posts.getTotalElements() != 0}">
              <td colspan="2" style="border:none;font-size:13px">작성한 게시물이 존재하지 않습니다.</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>


    <!-- 데스크톱 화면에 출력 -->
    <div class="row d-none d-md-block">

      <div class="d-flex justify-content-center align-items-center" style="height:100px">
        <h4>나의 게시물</h4>
      </div>

      <div>
        <table class="table">
          <thead>
            <tr>
              <th>번호</th>
              <th>탭</th>
              <th>제목</th>
              <th>작성일</th>
              <th>조회</th>
              <th>추천</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="post,stat:${posts}" th:if="${posts.getTotalElements() != 0}">
              <td class="no" th:text="${posts.getTotalElements() - stat.index}">0</td>
              <td class="cate">
                <a class="text-underline-hover" th:text="${post.categoryName}"
                   th:with="href=@{/posts(category=${post.categoryCode})}"
                   href="javascript:void(0);" th:onclick="navigateTo([[${href}]]);"
                   th:classappend="${post.categoryCode}">카테고리</a>
              </td>
              <td class="title">
                <a class="text-underline-hover text-dark" th:with="href=@{/post/{postId}(postId=${post.id})}"
                   href="javascript:void(0);" th:onclick="navigateTo([[${href}]]);" th:text="${post.title}">제목</a>
                <span th:text="|[${post.commentCount}]|" th:if="${post.commentCount} != 0">댓글개수</span>
              </td>
              <td class="reg_time" th:text="${post.createdDate}">2024-01-01</td>
              <td class="view_cnt" th:text="${post.viewCount}">100</td>
              <td class="like_cnt" th:text="${post.likeCount == 0 ? '' : post.likeCount}">100</td>
            </tr>
            <tr class="no_content" th:unless="${posts.getTotalElements() != 0}">
              <td colspan="6" style="border:none">작성한 게시물이 존재하지 않습니다.</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div th:if="${!posts.isEmpty()}">
        <ul class="pagination justify-content-center"
            th:with="
                pageNumber = ${posts.pageable.pageNumber},
                pageSize = ${posts.pageable.pageSize},
                totalPages = ${posts.totalPages},
                startPage = ${T(java.lang.Math).floor(pageNumber / pageSize) * pageSize + 1},
                tempEndPage = ${startPage + pageSize - 1},
                endPage = (${tempEndPage > totalPages ? totalPages : tempEndPage})">

          <li th:classappend="${pageNumber < pageSize} ? 'disabled'" class="page-item">
            <a class="page-link" th:with="href=@{/member/myDocument(page=0)}" href="javascript:void(0);" th:onclick="navigateTo([[${href}]]);">
              <span>&laquo;</span>
            </a>
          </li>

          <li th:classappend="${posts.first} ? 'disabled'" class="page-item">
            <a class="page-link" th:with="href=${posts.first} ? '#' : @{/admin/myDocument(page=${pageNumber - 1})}"
               href="javascript:void(0);" th:onclick="navigateTo([[${href}]]);" aria-label="Previous">
              <span aria-hidden="true">&lt;</span>
            </a>
          </li>

          <li th:each="page: ${#numbers.sequence(startPage, endPage)}" th:classappend="${page == pageNumber + 1} ? 'active'" class="page-item">
            <span th:if="${page == pageNumber + 1}" th:text="${page}" class="page-link"></span>
            <a th:unless="${page == pageNumber + 1}" th:text="${page}" class="page-link" th:with="href=@{/admin/myDocument(page=${page - 1})}"
               href="javascript:void(0);" th:onclick="navigateTo([[${href}]]);"></a>
          </li>

          <li th:classappend="${posts.last} ? 'disabled'" class="page-item">
            <a class="page-link" th:with="href=${posts.last} ? '#' : @{/admin/myDocument(page=${pageNumber + 1})}"
               href="javascript:void(0);" th:onclick="navigateTo([[${href}]]);" aria-label="Next">
              <span aria-hidden="true">&gt;</span>
            </a>
          </li>

          <li th:classappend="${T(java.lang.Math).floor(totalPages / pageSize) * pageSize - 1 <= startPage} ? 'disabled'" class="page-item">
            <a class="page-link" th:with="href=@{/admin/myDocument(page=${totalPages - 1})}" href="javascript:void(0);" th:onclick="navigateTo([[${href}]]);">
              <span>&raquo;</span>
            </a>
          </li>

        </ul>
    </div>

  </div>

</div>
</html>