<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">
<head>
  <title>나의 게시물</title>
  <style>
    th,td:not(.title) {
      white-space:nowrap;
      text-align:center;
    }
    .title {
      white-space:normal;
      word-break:break-all;
    }
  </style>
</head>

<th:block layout:fragment="content">

  <div class="container">
    <div class="col-md-12">

      <div class="d-flex justify-content-center align-items-center" style="height:100px">
        <h4>나의 게시물</h4>
      </div>

      <div>
        <table class="table">
          <thead>
            <tr>
              <th>번호</th>
              <th>탭</th>
              <th>제목</th>
              <th>작성일</th>
              <th>조회</th>
              <th>추천</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="post,stat:${posts}" th:if="${posts.getTotalElements() != 0}">
              <td class="no" th:text="${posts.getTotalElements() - stat.index}">0</td>
              <td class="cate">
                <a class="text-underline-hover" th:text="${post.categoryName}"
                   th:href="@{/posts(category=${post.categoryCode})}"
                   th:classappend="${post.categoryCode}">카테고리</a>
              </td>
              <td class="title">
                <a class="text-underline-hover text-dark" th:href="@{/post/{postId}(postId=${post.id})}" th:text="${post.title}">제목</a>
                <span th:text="|[${post.commentCount}]|" th:if="${post.commentCount} != 0">댓글개수</span>
              </td>
              <td class="reg_time" th:text="${post.createdDate}">2024-01-01</td>
              <td class="view_cnt" th:text="${post.viewCount}">100</td>
              <td class="like_cnt" th:text="${post.likeCount == 0 ? '' : post.likeCount}">100</td>
            </tr>
            <tr class="no_content" th:unless="${posts.getTotalElements() != 0}">
              <td colspan="6" style="border:none">작성한 게시물이 존재하지 않습니다.</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div th:if="${!posts.isEmpty()}">
          <ul class="pagination justify-content-center"
              th:with="
                  pageNumber = ${posts.pageable.pageNumber},
                  pageSize = ${posts.pageable.pageSize},
                  totalPages = ${posts.totalPages},
                  startPage = ${T(java.lang.Math).floor(pageNumber / pageSize) * pageSize + 1},
                  tempEndPage = ${startPage + pageSize - 1},
                  endPage = (${tempEndPage > totalPages ? totalPages : tempEndPage})">

            <li th:classappend="${pageNumber < pageSize} ? 'disabled'" class="page-item">
              <a class="page-link" th:href="@{/member/myDocument(page=0)}">
                <span>&laquo;</span>
              </a>
            </li>

            <li th:classappend="${posts.first} ? 'disabled'" class="page-item">
              <a class="page-link" th:href="${posts.first} ? '#' : @{/admin/myDocument(page=${pageNumber - 1})}" aria-label="Previous">
                <span aria-hidden="true">&lt;</span>
              </a>
            </li>

            <li th:each="page: ${#numbers.sequence(startPage, endPage)}" th:classappend="${page == pageNumber + 1} ? 'active'" class="page-item">
              <span th:if="${page == pageNumber + 1}" th:text="${page}" class="page-link"></span>
              <a th:unless="${page == pageNumber + 1}" th:text="${page}" class="page-link" th:href="@{/admin/myDocument(page=${page - 1})}"></a>
            </li>

            <li th:classappend="${posts.last} ? 'disabled'" class="page-item">
              <a class="page-link" th:href="${posts.last} ? '#' : @{/admin/myDocument(page=${pageNumber + 1})}" aria-label="Next">
                <span aria-hidden="true">&gt;</span>
              </a>
            </li>

            <li th:classappend="${T(java.lang.Math).floor(totalPages / pageSize) * pageSize - 1 <= startPage} ? 'disabled'" class="page-item">
              <a class="page-link" th:href="@{/admin/myDocument(page=${totalPages - 1})}">
                <span>&raquo;</span>
              </a>
            </li>

          </ul>
      </div>

    </div>
  </div> <!-- /container -->

</th:block>
</html>