<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">
<head>
    <title>회원 목록</title>
    <style>
        th,td {
          white-space:nowrap;
          text-align:center;
        }
        tbody tr:not(.no_content):hover {
            background-color: rgba(0,0,0,.075);
        }
  </style>
</head>

<th:block layout:fragment="content">

    <div class="container">
        <div class="col-md-12">

            <div class="d-flex justify-content-center align-items-center" style="height:100px">
                <h4>회원 목록</h4>
            </div>

            <div>
                <table class="table">
                    <thead>
                    <tr>
                        <th>번호</th>
                        <th>닉네임</th>
                        <th>회원상태</th>
                        <th>가입상태</th>
                        <th>가입일</th>
                    </tr>
                    </thead>
                    <tbody>

                        <tr th:each="member, memberStat :${members}" th:if="${members.getTotalElements() != 0}">
                            <td class="no" th:text="${members.getTotalElements() - memberStat.index}">0</td>
                            <td>
                                <div class="btn-group dropend">
                                    <a class="text-underline-hover text-dark" href="javascript:;" data-bs-toggle="dropdown"
                                       th:text="${member.nickname}">닉네임</a>

                                    <ul class="dropdown-menu">
                                        <li th:if="${member.activated}"><a class="dropdown-item" th:href="@{/admin/memberProfile(memberId=${member.id})}">회원 정보</a></li>
                                        <li><a class="dropdown-item" th:href="@{/admin/memberDocument(memberId=${member.id})}">작성 게시물</a></li>
                                        <li><a class="dropdown-item" th:href="@{/admin/memberComment(memberId=${member.id})}">작성 댓글</a></li>
                                    </ul>
                                </div>
                            </td>
                            <td th:text="${member.activated} ? '활성' : '비활성'">회원상태</td>
                            <td th:text="${member.role} == 'ROLE_USER' ? '일반' : '소셜'">가입상태</td>
                            <td th:text="${member.createdDate}">가입일</td>
                        </tr>

                        <tr class="no_content" th:unless="${members.getTotalElements() != 0}">
                            <td colspan="5" style="border:none">회원이 존재하지 않습니다.</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- 페이징 -->
            <div th:if="${!members.isEmpty()}">
                <ul class="pagination justify-content-center"
                    th:with="
                        pageNumber = ${members.pageable.pageNumber},
                        pageSize = ${members.pageable.pageSize},
                        totalPages = ${members.totalPages},
                        startPage = ${T(java.lang.Math).floor(pageNumber / pageSize) * pageSize + 1},
                        tempEndPage = ${startPage + pageSize - 1},
                        endPage = (${tempEndPage > totalPages ? totalPages : tempEndPage})">

                    <!-- 처음으로 이동 -->
                    <li th:classappend="${pageNumber < pageSize} ? 'disabled'" class="page-item">
                        <a class="page-link" th:href="@{/posts(page=0)}">
                            <span>&laquo;</span>
                        </a>
                    </li>

                    <!-- 이전으로 이동 -->
                    <li th:classappend="${members.first} ? 'disabled'" class="page-item">
                        <a class="page-link" th:href="${members.first} ? '#' : @{/admin/members(page=${pageNumber - 1})}" aria-label="Previous">
                            <span aria-hidden="true">&lt;</span>
                        </a>
                    </li>

                    <!-- 현재 페이지 -->
                    <li th:each="page: ${#numbers.sequence(startPage, endPage)}" th:classappend="${page == pageNumber + 1} ? 'active'" class="page-item">
                        <span th:if="${page == pageNumber + 1}" th:text="${page}" class="page-link"></span>
                        <a th:unless="${page == pageNumber + 1}" th:text="${page}" class="page-link" th:href="@{/admin/members(page=${page - 1})}"></a>
                    </li>

                    <!-- 다음으로 이동 -->
                    <li th:classappend="${members.last} ? 'disabled'" class="page-item">
                        <a class="page-link" th:href="${members.last} ? '#' : @{/admin/members(page=${pageNumber + 1})}" aria-label="Next">
                            <span aria-hidden="true">&gt;</span>
                        </a>
                    </li>

                    <!-- 마지막으로 이동 -->
                    <li th:classappend="${T(java.lang.Math).floor(totalPages / pageSize) * pageSize - 1 <= startPage} ? 'disabled'" class="page-item">
                        <a class="page-link" th:href="@{/admin/members(page=${totalPages - 1})}">
                            <span>&raquo;</span>
                        </a>
                    </li>

                </ul>
            </div>

        </div>
    </div> <!-- /container -->

</th:block>
</html>