<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout_spa}">


<div id="contentContainer" th:fragment="content">

    <header>
        <!-- 상단 바 -->
        <div class="top-header">
            <nav class="navbar navbar-light bg-light" style="--bs-breadcrumb-divider: '∣';" aria-label="breadcrumb">
                <div class="container d-flex justify-content-end">
                    <ol class="breadcrumb mb-0" style="font-size:12px">
                        <th:block sec:authorize="isAuthenticated()">

                            <!-- 유저 -->
                            <th:block sec:authorize="hasAnyRole('ROLE_USER', 'ROLE_SOCIAL')">
                                <li class="breadcrumb-item"><a class="text-decoration-none" th:with="href=@{/member/profile}" href="javascript:void(0);"
                                                               th:onclick="navigateTo([[${href}]]);">내 정보</a></li>
                                <li class="breadcrumb-item"><a class="text-decoration-none" th:with="href=@{/member/myDocument}" href="javascript:void(0);"
                                                               th:onclick="navigateTo([[${href}]]);">내 게시물</a></li>
                                <li class="breadcrumb-item"><a class="text-decoration-none" th:with="href=@{/member/myComment}" href="javascript:void(0);"
                                                               th:onclick="navigateTo([[${href}]]);">내 댓글</a></li>
                            </th:block>

                            <!-- 관리자 -->
                            <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                                <li class="breadcrumb-item"><a class="text-decoration-none" th:with="href=@{/admin/members}" href="javascript:void(0);"
                                                               th:onclick="navigateTo([[${href}]]);">회원 관리</a></li>
                                <li class="breadcrumb-item"><a class="text-decoration-none" th:with="href=@{/admin/myDocument}" href="javascript:void(0);"
                                                               th:onclick="navigateTo([[${href}]]);">내 게시물</a></li>
                                <li class="breadcrumb-item"><a class="text-decoration-none" th:with="href=@{/admin/postStat}" href="javascript:void(0);"
                                                               th:onclick="navigateTo([[${href}]]);">게시판 통계</a></li>
                            </th:block>

                            <!-- 알림 -->
                            <!-- 알림이 1개 이상 -->
                            <li class="breadcrumb-item d-flex align-items-center">
                                <div class="dropdown">
                                    <a class="text-decoration-none" href="javascript:;" data-bs-toggle="dropdown">알림</a>
                                    <ul class="dropdown-menu dropdown-menu-end p-2" id="oc_notification"
                                        style="max-height:200px;overflow-y:scroll;font-size:12px;white-space:nowrap;">
                                        <li th:each="notification:${notifications}" th:if="${notifications.size()} != 0">
                                            <a class="dropdown-item" th:with="href=@{${notification.url}}" href="javascript:void(0);"
                                               th:onclick="navigateTo([[${href}]]);">
                                                <span th:text="${notification.sender}">아기로메로</span>
                                                <span th:text="${#strings.abbreviate(notification.content, 12)}">내용</span>
                                                <span th:text="${notification.createdDate}">4 일 전</span>
                                            </a>
                                        </li>
                                        <!-- 알림이 없을경우 -->
                                        <li th:unless="${notifications.size()} != 0">
                                            알림이 존재하지 않습니다
                                        </li>
                                    </ul>
                                </div>
                                <!-- 읽지 않은 알림 갯수 -->
                                <span class="badge bg-danger ms-1" th:text="${notifications.size() == 0 ? '' : notifications.size()}" id="notificationCount">4</span>
                            </li>

                            <!-- 로그아웃 -->
                            <li class="breadcrumb-item">
                                <form id="logoutForm" th:action="@{/logout}" method="post" style="display:inline">
                                    <span style="border: 1px solid #ccc;background: #fff;padding: 2px 7px 2px 7px;border-radius: 5px;">
                                        <a class="text-decoration-none" href="javascript:;" onclick="logout()">로그아웃</a>
                                    </span>
                                </form>
                            </li>
                        </th:block>
                        <th:block sec:authorize="isAnonymous()">
                            <li class="breadcrumb-item"><a class="text-decoration-none" th:href="@{/signup}">회원가입</a></li>
                            <li class="breadcrumb-item"><a class="text-decoration-none" th:href="@{/login}">로그인</a></li>
                        </th:block>
                    </ol>
                </div>
            </nav>
        </div>
        <!-- 로고 -->
        <div class="container p-2">
            <div class="d-flex justify-content-center">
                <a class="text-decoration-none" th:with="href=@{/}" href="javascript:void(0);"
                   th:onclick="navigateTo([[${href}]]);">
                    <img th:src="@{/img/logo/oneuldo_logo_short.png}" alt="logo" width="200">
                </a>
            </div>
        </div>
    </header>


    <div class="container">
        <div class="col-md-12">

            <div class="d-flex justify-content-center align-items-center" style="height:100px">
                <h4>게시판 통계</h4>
            </div>

            <!-- content -->
            <div class="container" id="content">
                <div class="data">
                    <div class="data-summary d-flex justify-content-evenly border border-2 mb-3 text-center">
                        <div>
                            <h6 class="fw-bold">오늘 작성글</h6>
                            <span th:text="${countToday}"></span>
                        </div>
                        <div>
                            <h6 class="fw-bold">어제 작성글</h6>
                            <span th:text="${countYesterday}">10</span>
                        </div>
                        <div>
                            <h6 class="fw-bold">누적 작성글</h6>
                            <span th:text="${countTotal}">10</span>
                        </div>
                    </div>

                    <div class="data-summary d-flex justify-content-evenly border border-2 text-center">

                        <div>
                            <h6 class="FREE fw-bold">자유</h6>
                            <span th:text="${countFree}">10</span>
                        </div>
                        <div>
                            <h6 class="HUMOR fw-bold">유머</h6>
                            <span th:text="${countHumor}">10</span>
                        </div>
                        <div>
                            <h6 class="MYSTERY fw-bold">미스터리/공포</h6>
                            <span th:text="${countMystery}">10</span>
                        </div>
                        <div>
                            <h6 class="DIGITAL fw-bold">디지털</h6>
                            <span th:text="${countDigital}">10</span>
                        </div>
                        <div>
                            <h6 class="FOOTBALL_WORLD fw-bold">해외축구</h6>
                            <span th:text="${countFootball}">10</span>
                        </div>
                        <div>
                            <h6 class="NOTICE fw-bold">공지</h6>
                            <span th:text="${countNotice}">10</span>
                        </div>
                    </div>
                    <br>
                    <br>

                    <div class="chart-title d-flex justify-content-center fw-bold">최근 7일 통계</div>

                    <div id="Line_Controls_Chart">
                        <!-- 라인 차트 생성할 영역 -->
                        <div id="lineChartArea" class="chart"></div>
                        <div id="controlsArea"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <script th:inline="javascript">
        var chartDrowFun = {

	        chartDrow : function(){

                /*
                var boardList = [
                    {create_date:"2023-10-20",none:2,secret:1,screenshot:3,question:1},
                    {create_date:"2023-10-21",none:1,secret:1,screenshot:1,question:2},
                    {create_date:"2023-10-22",none:3,secret:0,screenshot:1,question:3},
                    {create_date:"2023-10-23",none:3,secret:0,screenshot:1,question:0},
                    {create_date:"2023-10-24",none:1,secret:0,screenshot:2,question:1},
                    {create_date:"2023-10-25",none:1,secret:1,screenshot:2,question:0}
                ];
                */

                var boardList = [[${result}]];
                //var boardList = result;


                var queryObjectLen = boardList.length;

	            var chartData = '';

                //날짜형식 변경하고 싶으시면 이 부분 수정하세요.
                var chartDateformat = 'MM월 dd일';
                //라인차트의 라인 수
                var chartLineCount = 10;
                //컨트롤러 바 차트의 라인 수
                var controlLineCount = 10;


	            function drawDashboard() {

                    var data = new google.visualization.DataTable();
                    //그래프에 표시할 컬럼 추가
                    data.addColumn('datetime', '날짜');
                    data.addColumn('number', '전체');
                    data.addColumn('number', '자유');
                    data.addColumn('number', '유머');
                    data.addColumn('number', '미스터리/공포');
                    data.addColumn('number', '디지털');
                    data.addColumn('number', '해외축구');
                    data.addColumn('number', '공지');

	                //그래프에 표시할 데이터
	                var dataRow = [];
	                var dateList = [];

	                for (var i = 0; i < queryObjectLen; i++) {
                        var create_date = boardList[i].create_date;
	                    var free = boardList[i].free;
	                    var humor = boardList[i].humor;
	                    var mystery = boardList[i].mystery;
	                    var digital = boardList[i].digital;
	                    var football_world = boardList[i].football_world;
	                    var notice = boardList[i].notice;

	                    dateList.push(new Date(create_date.substring(0, 4), create_date.substring(5, 7) - 1, create_date.substring(8, 10)));
	                    dataRow = [new Date(create_date.substring(0, 4), create_date.substring(5, 7) - 1, create_date.substring(8, 10)),
	            	        free + humor + mystery + digital + football_world + notice, free, humor, mystery, digital, football_world, notice];
	                    data.addRow(dataRow);
	                }

	                var chart = new google.visualization.ChartWrapper({
                        chartType : 'LineChart',
	                    containerId : 'lineChartArea', //라인 차트 생성할 영역
	                    options : {
                                chartArea : {width: '85%', height: '70%'},
                                curveType : 'function',
                                isStacked : 'percent',
                                focusTarget : 'category',
                                height : 500,
                                width : '100%',
                                legend : { position: "top", textStyle: {fontName: 'Noto Sans KR', fontSize: 13}},
                                pointSize : 5,
                                tooltip : {
                                    textStyle : {fontName: 'Noto Sans KR', fontSize:12},
                                    showColorCode : true,
                                    trigger: 'both'
                                },
                                hAxis : {
                                    format: chartDateformat,
                                    gridlines:{
                                        count:chartLineCount,
                                        units: {
                                            years : {format: ['yyyy년']},
                                            months: {format: ['MM월']},
                                            days  : {format: ['dd일']},
                                            hours : {format: ['HH시']}
                                        }
                                    },
                                    textStyle: {fontName: 'Noto Sans KR', fontSize:12},
                                    ticks: dateList
                                },
                                vAxis : {minValue: 15,viewWindow:{min:0},gridlines:{count:-1}, format: '#', textStyle:{fontName: 'Noto Sans KR', fontSize:12}},
                                animation : {startup: true,duration: 1000,easing: 'in' },
                                annotations	: {
                                    pattern: chartDateformat,
                                    textStyle: {
                                        fontName: 'Noto Sans KR',
                                        fontSize: 15,
                                        bold: true,
                                        italic: true,
                                        color: '#871b47',
                                        auraColor: '#d799ae',
                                        opacity: 0.8,
                                        pattern: chartDateformat
                                    }
                                }
                        }
	                });

	                var control = new google.visualization.ControlWrapper({
                        controlType: 'ChartRangeFilter',
                        containerId: 'controlsArea',  //control bar를 생성할 영역
                        options: {
                            ui:{
                                chartType: 'LineChart',
                                chartOptions: {
                                    chartArea: {'width': '60%','height' : 80},
                                    hAxis: {
                                        'baselineColor': 'none',
                                        format: chartDateformat,
                                        textStyle: {fontName: 'Noto Sans KR', fontSize:12},
                                        gridlines:{count:controlLineCount,units: {
                                            years : {format: ['yyyy년']},
                                            months: {format: ['MM월']},
                                            days  : {format: ['dd일']},
                                            hours : {format: ['HH시']}
                                        }}
                                    }
                                }
                            },
                            filterColumnIndex: 0
                        }
	                });

	                var date_formatter = new google.visualization.DateFormat({ pattern: chartDateformat});
	                date_formatter.format(data, 0);

	                var dashboard = new google.visualization.Dashboard(document.getElementById('Line_Controls_Chart'));
	                window.addEventListener('resize', function() { dashboard.draw(data); }, false); //화면 크기에 따라 그래프 크기 변경
	                dashboard.bind([control], [chart]);
	                dashboard.draw(data);

	            }
	          google.charts.setOnLoadCallback(drawDashboard);
	        }
	    }

	    $(document).ready(function() {
            google.charts.load('50', {'packages':['line','controls']});
            chartDrowFun.chartDrow(); //chartDrow() 실행
        });
    </script>


</div>

</html>