<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">
<head>
    <th:block th:if="${post}">
        <title>[[${post.title}]]</title>
    </th:block>
</head>

<!--<body>-->
<th:block layout:fragment="content">

    <div class="container py-5">

        <!-- 게시물 내용 -->
        <div class="content_wrapper">
            <div class="nav_cate px-2">
                <h5>
                    <a class="text-underline-hover" th:text="${post.categoryName}" th:href="@{/posts(category=${post.categoryCode})}"
                       style="color:#555;">카테고리</a>
                </h5>
            </div>

            <div class="header">

                <div class="d-flex bd-highlight" style="border-top:1px solid #ccc;border-bottom:1px solid #ccc;background:#fcfcfc;">
                    <div class="me-auto p-2 bd-highlight">
                        <span class="title" th:text="${post.title}" style="font-size: large;font-weight:bold;">제목</span>
                    </div>
                    <div class="p-2 bd-highlight" style="white-space:nowrap;word-break:break-all;">
                        <small class="createdDate" th:text="${post.createdDate}">2013-03-12</small>
                    </div>
                </div>

                <div class="d-flex bd-highlight mb-3" style="border-bottom:1px solid #eee;">
                    <div class="me-auto p-1 bd-highlight">
                        <div class="btn-group dropend">
                            <a class="text-underline-hover text-dark" href="javascript:;" data-bs-toggle="dropdown"
                               th:text="${post.member.nickname}">작성자</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" th:href="@{/post/search(searchType=memberId,keyword=${post.member.id})}">작성글</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="p-1 bd-highlight">
                        <span style="color:#888">
                            조회수
                            <b th:text="${post.viewCount}" style="color:#666">조회수</b>
                        </span>
                    </div>
                </div>
            </div>
            <div class="body p-2">
                <article>
                    <div th:class="'document_'+${post.id}" th:text="${post.content}">내용</div>
                </article>
            </div>
        </div>

        <!-- 목록으로 -->
        <div class="d-flex align-items-end" style="height:100px">
            <button class="w-100 btn btn-secondary"
                    onclick="location.href='posts.html'"
                    th:onclick="|location.href='@{/posts}'|"
                    type="button">
                목록으로
            </button>
        </div>

        <hr class="my-4">

        <!-- 게시물 수정 삭제 버튼 -->
        <th:block sec:authorize="isAuthenticated()" th:if="${#authentication.name == post.member.loginId}">
            <form th:action="@{/post/{postId}/delete(postId=${post.id})}" method="post" onsubmit="return confirm('게시물을 삭제하시겠습니까?')">

                <button class="btn btn-primary mb-5"
                        onclick="location.href='editForm.html'"
                        th:onclick="|location.href='@{/post/{postId}/edit(postId=${post.id})}'|"
                        type="button">
                    <i class="bi bi-pencil-square"></i>
                    수정
                </button>

                <button class="btn btn-danger mb-5"
                        type="submit">
                    <i class="bi bi-trash"></i>
                    삭제
                </button>
            </form>
        </th:block>

    </div> <!-- /container -->
</th:block>

<!--</body>-->
</html>