<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout_spa}">

<div id="contentContainer" th:fragment="content">

    <header>
        <!-- 상단 바 -->
        <div class="top-header">
            <nav class="navbar navbar-light bg-light" style="--bs-breadcrumb-divider: '∣';" aria-label="breadcrumb">
                <div class="container d-flex justify-content-end">
                    <ol class="breadcrumb mb-0" style="font-size:12px">
                        <th:block sec:authorize="isAuthenticated()">
                            <!-- 유저 -->
                            <th:block sec:authorize="hasAnyRole('ROLE_USER', 'ROLE_SOCIAL')">
                                <li class="breadcrumb-item"><a class="text-decoration-none" th:with="href=@{/member/profile}" href="javascript:void(0);"
                                                               th:onclick="navigateTo([[${href}]]);">내 정보</a></li>
                                <li class="breadcrumb-item"><a class="text-decoration-none" th:with="href=@{/member/myDocument}" href="javascript:void(0);"
                                                               th:onclick="navigateTo([[${href}]]);">내 게시물</a></li>
                                <li class="breadcrumb-item"><a class="text-decoration-none" th:with="href=@{/member/myComment}" href="javascript:void(0);"
                                                               th:onclick="navigateTo([[${href}]]);">내 댓글</a></li>
                            </th:block>

                            <!-- 관리자 -->
                            <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                                <li class="breadcrumb-item"><a class="text-decoration-none" th:with="href=@{/admin/members}" href="javascript:void(0);"
                                                               th:onclick="navigateTo([[${href}]]);">회원 관리</a></li>
                                <li class="breadcrumb-item"><a class="text-decoration-none" th:with="href=@{/admin/myDocument}" href="javascript:void(0);"
                                                               th:onclick="navigateTo([[${href}]]);">내 게시물</a></li>
                                <li class="breadcrumb-item"><a class="text-decoration-none" th:with="href=@{/admin/postStat}" href="javascript:void(0);"
                                                               th:onclick="navigateTo([[${href}]]);">게시판 통계</a></li>
                            </th:block>

                            <!-- 알림 -->
                            <!-- 알림이 1개 이상 -->
                            <li class="breadcrumb-item d-flex align-items-center d-none d-md-flex">
                                <div class="dropdown">
                                    <a class="text-decoration-none" href="javascript:;" data-bs-toggle="dropdown">알림</a>
                                    <ul class="dropdown-menu dropdown-menu-end p-2" id="oc_notification"
                                        style="max-height:200px;overflow-y:scroll;font-size:12px;white-space:nowrap;">
                                        <li th:each="notification:${notifications}" th:if="${notifications.size()} != 0">
                                            <a class="dropdown-item" th:with="href=@{${notification.url}}" href="javascript:void(0);"
                                               th:onclick="navigateTo([[${href}]]);">
                                                <span th:text="${notification.sender}">아기로메로</span>
                                                <span th:text="${#strings.abbreviate(notification.content, 12)}">내용</span>
                                                <span th:text="${notification.createdDate}">4 일 전</span>
                                            </a>
                                        </li>
                                        <!-- 알림이 없을경우 -->
                                        <li th:unless="${notifications.size()} != 0">
                                            알림이 존재하지 않습니다
                                        </li>
                                    </ul>
                                </div>
                                <!-- 읽지 않은 알림 갯수 -->
                                <span class="badge bg-danger ms-1" th:text="${notifications.size() == 0 ? '' : notifications.size()}" id="notificationCount">4</span>
                            </li>

                            <li class="breadcrumb-item">
                                <form id="logoutForm" th:action="@{/logout}" method="post" style="display:inline">
                                    <span style="border: 1px solid #ccc;background: #fff;padding: 2px 7px 2px 7px;border-radius: 5px;">
                                        <a class="text-decoration-none" href="javascript:;" onclick="logout()">로그아웃</a>
                                    </span>
                                </form>
                            </li>
                        </th:block>
                        <th:block sec:authorize="isAnonymous()">
                            <li class="breadcrumb-item"><a class="text-decoration-none" th:href="@{/signup}">회원가입</a></li>
                            <li class="breadcrumb-item"><a class="text-decoration-none" th:href="@{/login}">로그인</a></li>
                        </th:block>
                    </ol>
                </div>
            </nav>

            <!-- 모바일 버전 알림 -->
            <th:block sec:authorize="isAuthenticated()">
                <div class="d-md-none" id="mobile_notification">
                    <div class="d-flex justify-content-end py-1" style="background:#666;font-size:11px">
                        <span class="px-3">
                            <a class="text-decoration-none text-white ps-2 py-1" data-bs-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                내 알림
                            </a>
                            <span class="badge bg-danger" th:text="${notifications.size() == 0 ? '' : notifications.size()}">3</span>
                        </span>
                    </div>
                    <div class="collapse" id="collapseExample">
                        <div class="card card-body">
                            <ul class="list-unstyled" id="notify_mobile_toggle">
                                <li th:each="notification:${notifications}" th:if="${notifications.size()} != 0">
                                    <a class="dropdown-item" th:with="href=@{${notification.url}}" href="javascript:void(0);"
                                       th:onclick="navigateTo([[${href}]]);">
                                        <span th:text="${notification.sender}">아기로메로</span>
                                        <span th:text="${#strings.abbreviate(notification.content, 20)}">내용</span>
                                        <span th:text="${notification.createdDate}">4 일 전</span>
                                    </a>
                                </li>
                                <!-- 알림이 없을경우 -->
                                <li th:unless="${notifications.size()} != 0">
                                    알림이 존재하지 않습니다
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </th:block>
        </div>
        <!-- 로고 -->
        <div class="container p-2">
            <div class="d-flex justify-content-center">
                <a class="text-decoration-none" th:with="href=@{/}" href="javascript:void(0);"
                   th:onclick="navigateTo([[${href}]]);">
                    <img th:src="@{/img/logo/oneuldo_logo_short.png}" alt="logo" width="200">
                </a>
            </div>
        </div>
    </header>



    <div class="container py-5">

        <!-- 게시물 내용 -->
        <div class="content_wrapper">
            <div class="nav_cate px-2">
                <h5>
                    <a class="text-underline-hover" th:text="${post.categoryName}" th:href="@{/posts(category=${post.categoryCode})}"
                       style="color:#555;">카테고리</a>
                </h5>
            </div>

            <div class="header">

                <div class="d-flex bd-highlight" style="border-top:1px solid #ccc;border-bottom:1px solid #ccc;background:#fcfcfc;">
                    <div class="me-auto p-2 bd-highlight">
                        <span class="title" th:text="${post.title}" style="font-size: large;font-weight:bold;">제목</span>
                    </div>
                    <div class="p-2 bd-highlight" style="white-space:nowrap;word-break:break-all;">
                        <small class="createdDate" th:text="${post.createdDate}">2013-03-12</small>
                    </div>
                </div>

                <div class="d-flex bd-highlight mb-3" style="border-bottom:1px solid #eee;">
                    <div class="me-auto p-1 bd-highlight">
                        <div class="btn-group dropend">
                            <a class="text-underline-hover text-dark" href="javascript:;" data-bs-toggle="dropdown"
                               th:text="${post.member.nickname}">작성자</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" th:href="@{/post/search(searchType=memberId,keyword=${post.member.id})}">작성글</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="p-1 bd-highlight">
                        <span style="color:#888">
                            조회수
                            <b th:text="${post.viewCount}" style="color:#666">조회수</b>
                        </span>
                    </div>
                </div>
            </div>
            <!-- 내용 -->
            <div class="body p-2">
                <article>
                    <div class="ck-content" th:utext="${post.content}">내용</div>
                </article>
            </div>
        </div>

        <!-- 목록으로 -->
        <div class="d-flex align-items-end" style="height:100px">
            <button class="w-100 btn btn-secondary"
                    onclick="location.href='posts.html'"
                    th:onclick="|location.href='@{/posts}'|"
                    type="button">
                목록으로
            </button>
        </div>

        <hr class="my-4">

        <!-- 게시물 수정 삭제 버튼 -->
        <th:block sec:authorize="isAuthenticated()" th:if="${#authentication.name == post.member.loginId}">
            <form th:action="@{/post/{postId}/delete(postId=${post.id})}" method="post" onsubmit="return confirm('게시물을 삭제하시겠습니까?')">

                <button class="btn btn-primary mb-5"
                        onclick="location.href='editForm.html'"
                        th:onclick="|location.href='@{/post/{postId}/edit(postId=${post.id})}'|"
                        type="button">
                    <i class="bi bi-pencil-square"></i>
                    수정
                </button>

                <button class="btn btn-danger mb-5"
                        type="submit">
                    <i class="bi bi-trash"></i>
                    삭제
                </button>
            </form>
        </th:block>

    </div>


    <!-- 각 페이지마다 실행될 스크립트 -->
    <script th:inline="javascript">
        window.addEventListener('load', function() {
            const msg = [[${msg}]];
            if(msg) {
                alert(msg);
            }
        });
    </script>

</div>

</html>