<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">
<head>
    <title>비밀번호 찾기 결과</title>
</head>

<th:block layout:fragment="content">

    <div class="container">

        <div class="py-5 text-center">
            <h2>비밀번호 찾기</h2>
        </div>

        <div class="mbrTplBox py-5" style="border:1px solid #cccccc">
            <strong>
                <p class="info text-center" th:text="${email}">
                    이메일
                </p>
            </strong>
            <p class="text-center">
                로 임시 비밀번호를 보냈습니다. 로그인 후 변경해주세요.
            </p>
        </div>

        <div class="row mt-5">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg" th:onclick="|location.href='@{/login}'|">로그인</button>
            </div>
        </div>

    </div>

</th:block>
</html>