<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">
<head>
    <title>회원 탈퇴</title>
</head>

<th:block layout:fragment="content">
    <div class="container">

        <div class="py-5 text-center">
            <h2>회원탈퇴</h2>
        </div>


        <form th:action method="post" onsubmit="return confirm('회원탈퇴를 계속하시겠습니까?')">

            <!-- 일반 로그인 사용자 -->
            <th:block sec:authorize="hasRole('ROLE_USER')">

                <div class="mb-3">
                    <label for="currentPassword">비밀번호</label>
                    <input type="password" id="currentPassword" name="currentPassword" class="form-control" th:classappend="${valid_currentPassword} ? 'is-invalid'" required>
                    <div class="invalid-feedback" th:text="${valid_currentPassword}" />
                </div>

            </th:block>

            <!-- 소셜 로그인 사용자 -->
            <th:block sec:authorize="hasRole('ROLE_SOCIAL')">

                <div class="py-5 mb-3 text-center">
                    <h3>그동안 이용해 주셔서 감사합니다.</h3>
                    <p>
                        회원탈퇴하면 회원님의 게시물과 댓글 모두 삭제처리 되며,
                        </br>
                        연결된 SNS 계정도 자동 연결해제 됩니다.
                    </p>
                </div>

            </th:block>


            <hr class="my-4">

            <div class="row" id="leaveBtn">
                <div class="col">
                    <button class="w-100 btn btn-danger btn-lg"
                            type="submit"
                            onclick="loading('leaveBtn');">회원 탈퇴</button>
                </div>
            </div>

            <div class="row" id="loading" style="display:none">
                <div class="col">
                    <button class="w-100 btn btn-primary btn-lg" disabled>
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        처리중...
                    </button>
                </div>
            </div>
        </form>

    </div> <!-- /container -->
</th:block>
</html>