<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">
<head>
    <title>게시물 상세</title>
</head>
<!--<body>-->
<th:block layout:fragment="content">

<div class="container">

    <div class="py-5 text-center">
        <h2>게시물 상세</h2>
    </div>

    <!-- 등록했을 때 화면 위에 글자 추가 -->
    <h2 th:if="${param.status}" th:text="'저장 완료'"></h2>

    <button class="w-100 btn btn-secondary"
            onclick="location.href='posts.html'"
            th:onclick="|location.href='@{/posts}'|"
            type="button">목록으로</button>

    <div>
        <label for="title">제목</label>
        <input type="text" id="title" name="title" class="form-control" value="제목" th:value="${post.title}" readonly>
    </div>
    <div>
        <label for="content">내용</label>
        <textarea id="content" name="content" class="form-control" rows="5" th:value="${post.content}" th:text="${post.content}" readonly></textarea>
    </div>
    <div>
        <label for="author">작성자</label>
        <input type="text" id="author" name="author" class="form-control" value="작성자" th:value="${post.name}" readonly>
    </div>
    <div>
        <label for="regDate">작성일</label>
        <input type="text" id="regDate" name="regDate" class="form-control"
               value="작성일" th:value="${post.regDate}" readonly>
    </div>
    <div>
        <label for="viewCount">조회</label>
        <input type="text" id="viewCount" name="viewCount" class="form-control"
               value="조회" th:value="${post.viewCount}" readonly>
    </div>

    <hr class="my-4">

    <!-- 게시물 수정 삭제 버튼 -->
    <th:block th:if="${session.loginMember} != null and ${post.loginId == session.loginMember.loginId}">

        <form th:action="@{/posts/{postId}/delete(postId=${post.id})}" method="post" onsubmit="return confirm('게시물을 삭제하시겠습니까?')">

            <button class="btn btn-primary mb-5"
                    onclick="location.href='editForm.html'"
                    th:onclick="|location.href='@{/posts/{postId}/edit(postId=${post.id})}'|"
                    type="button">
                <i class="bi bi-pencil-square"></i>
                수정
            </button>


            <button class="btn btn-danger mb-5"
                    type="submit">
                <i class="bi bi-trash"></i>
                삭제
            </button>
        </form>

    </th:block>

    <!-- Comment list -->
    <div class="comment-list">
        <th:block th:if="${totalCount} != 0">
            <h6 class="card-header">댓글 [[${totalCount}]]</h6>
            <ul class="list-group list-group-flush">
                <th:block th:each="comment:${comments}">
                    <!-- 템플릿 조각이 들어갈 곳 -->
                    <div th:replace=":: comments(${comment})"></div>
                </th:block>

                <!-- 템플릿 조각 -->
                <th:block th:if="${false}">
                    <li class="list-group-item" th:fragment="comments(comment)"
                        th:classappend="${comment.parent != null} ? 're' : ''"
                        th:id="'comment_' + ${comment.id}"
                        th:style="|margin-left: ${comment.depth * 2}%|">
                        <div>
                            <i class="bi bi-arrow-return-right" th:if="${comment.parent} != null"></i>
                            <span th:text="${comment.member.name}">nickname</span>
                            <small class="text-muted" th:text="${comment.regDate}">registerDate</small>
                            <th:block th:if="${session.loginMember} != null">
                                <!-- 자기 댓글 수정/삭제 -->
                                <th:block th:if="${comment.member.loginId == session.loginMember.loginId} and ${comment.isDeleted} == false">
                                    <a href="javascript:;" class="text-decoration-none" th:onclick="editComment([[${comment.id}]]);">
                                        수정
                                    </a>
                                    <a href="javascript:;" class="text-decoration-none text-danger" th:onclick="deleteComment([[${comment.id}]], [[${postId}]]);">
                                        삭제
                                    </a>
                                </th:block>

                                <!-- 다른사람 댓글 답글달기 -->
                                <th:block th:unless="${comment.member.loginId == session.loginMember.loginId}">
                                    <a href="javascript:;" class="text-decoration-none text-secondary" th:onclick="replyComment([[${comment.id}]]);">
                                        답글
                                        <i class="bi bi-chat-dots"></i>
                                    </a>
                                </th:block>
                            </th:block>
                        </div>

                        <input type="hidden" th:id="commentId" th:value="${comment.id}">

                        <div class="content-wrapper my-3" th:id="'commentContent' + ${comment.id}">[[${comment.content}]]</div>

                        <!-- 댓글 수정 폼 -->
                        <form class="collapse multi-collapse my-3" th:id="'commentUpdateForm' + ${comment.id}" style="display:none;">
                            <input type="hidden" name="commentId" th:value="${comment.id}">
                            <input type="hidden" name="postId" th:value="${postId}">
                            <div class="form-group mb-3">
                                <textarea class="form-control" rows="3" id="commentUpdateContent" name="commentContent" th:text="${comment.content}"></textarea>
                            </div>
                            <button type="button" id="btnCommentUpdateSave" class="btn btn-outline-primary" onclick="editCommentSave(this.form)">저장</button>
                        </form>

                        <!-- 답글 폼 -->
                        <div class="reComment wrapper my-3" th:id="'replyCommentForm' + ${comment.id}" style="display:none;">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item" style="margin-left:2%;">
                                <span>
                                    <i class="bi bi-arrow-return-right"></i>
                                    <span>답글달기</span>
                                </span>
                                    <form>
                                        <input type="hidden" name="parentId" th:value="${comment.id}">
                                        <input type="hidden" name="postId" th:value="${postId}">
                                        <input type="hidden" name="depth" th:value="${comment.depth}">
                                        <div class="form-group mb-3">
                                            <textarea class="form-control" rows="3" id="replyCommentContent" name="commentContent"></textarea>
                                        </div>
                                        <button type="button" id="btnReplyCommentSave" class="btn btn-outline-primary" onclick="replyCommentSave(this.form)">등록</button>
                                        <button type="button" class="btn btn-outline-secondary" th:onclick="replyComment([[${comment.id}]]);">
                                            닫기
                                        </button>
                                    </form>
                                </li>
                            </ul>
                        </div>

                        <!-- 자식 댓글이 있는지 확인 -->
                        <th:block th:unless="${#lists.isEmpty(comment.children)}" th:each="child:${comment.children}">
                            <div th:replace=":: comments(${child})" />
                        </th:block>
                    </li>
                </th:block>

                <!-- 페이징 -->
                <div class="paging my-4">
                    <ul class="pagination justify-content-center"
                        th:with=
                                "pageNumber = ${comments.pageable.pageNumber},
                                pageSize = ${comments.pageable.pageSize},
                                totalPages = ${comments.totalPages},
                                startPage = ${T(java.lang.Math).floor(pageNumber / pageSize) * pageSize + 1},
                                tempEndPage = ${startPage + pageSize - 1},
                                endPage = (${tempEndPage > totalPages ? totalPages : tempEndPage})">

                        <!-- 이전으로 이동 -->
                        <!-- 첫 페이지인 경우 비활성화, 첫 페이지가 아니라면 현재 페이지 인덱스(0부터 시작) - 1 -->
                        <li th:classappend="${comments.first} ? 'disabled'" class="page-item">
<!--                            <a class="page-link" th:href="${comments.first} ? '#' : @{/posts/detail(postId=${postId}, page=${pageNumber - 1})}" aria-label="Previous">-->
<!--                                <span aria-hidden="true">&lt;</span>-->
<!--                            </a>-->
                            <a class="page-link" href="javascript:;" th:onclick="moveToPage([[${postId}]], [[${pageNumber - 1}]]);" aria-label="Previous">
                                <span aria-hidden="true">&lt;</span>
                            </a>
                        </li>

                        <!-- 페이지 리스트 루프(5페이지씩 분리)로 startPage 부터 endPage까지 반복 -->
                        <!-- 페이지 번호 누르면 해당 페이지로 이동 -->
                        <!-- page(페이지 번호) 와 현재 페이지 인덱스(0부터 시작) + 1 이 같으면 현재 보고있는 페이지이므로 활성화 -->
                        <li th:each="page: ${#numbers.sequence(startPage, endPage)}" th:classappend="${page == pageNumber + 1} ? 'active'" class="page-item">
<!--                            <a th:text="${page}" class="page-link" th:href="@{/posts/detail(postId=${postId}, page=${page - 1})}"></a>-->
                            <a th:text="${page}" class="page-link" href="javascript:;" th:onclick="moveToPage([[${postId}]], [[${page - 1}]]);"></a>
                        </li>

                        <!-- 다음으로 이동 -->
                        <li th:classappend="${comments.last} ? 'disabled'" class="page-item">
<!--                            <a class="page-link" th:href="${comments.last} ? '#' : @{/posts/detail(postId=${postId}, page=${pageNumber + 1})}" aria-label="Next">-->
<!--                                <span aria-hidden="true">&gt;</span>-->
<!--                            </a>-->
                            <a class="page-link" href="javascript:;" th:onclick="moveToPage([[${postId}]], [[${pageNumber + 1}]]);" aria-label="Next">
                                <span aria-hidden="true">&gt;</span>
                            </a>
                        </li>
                    </ul>
                </div>

            </ul>
        </th:block>

    </div>

<!--   댓글을 처음 등록하는 경우, 비동기 통신으로 가져온 갱신된 댓글 리스트를 보여주기 위해 -->
<!--    <div class="comment-list" th:unless="${totalCount} != 0"></div>-->

    <!-- Comment Form -->
    <div class="card my-4">
        <h6 class="card-header">댓글 쓰기</h6>
        <div class="card-body">
<!--            <form th:action="@{/comment/add(postId=${postId})}" th:method="post">-->
<!--                <div class="form-group mb-3">-->
<!--                    <textarea name="content" class="form-control" rows="3" placeholder="댓글을 입력하세요"></textarea>-->
<!--                </div>-->
<!--                <button type="submit" class="btn btn-outline-primary">등록</button>-->
<!--            </form>-->
            <form th:id="commentSaveForm" th:onsubmit="return addComment(this, event)">
                <div class="form-group mb-3">
                    <input type="hidden" name="postId" th:value="${postId}">
                    <input type="hidden" name="contextPath" th:value="${#httpServletRequest.getContextPath()}">
                    <textarea name="content" class="form-control" id="commentTextarea" rows="3" placeholder="댓글을 입력하세요"></textarea>
                </div>
                <button type="submit" class="btn btn-outline-primary">등록</button>
            </form>
        </div>
    </div>

</div> <!-- /container -->
</th:block>
<!--</body>-->
</html>