<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
<!--    <link th:href="@{/css/bootstrap.min.css}"-->
<!--          href="css/bootstrap.min.css" rel="stylesheet">-->

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <style>
        .container {
            max-width: 560px;
        }
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
</head>
<body>

<div class="container">

    <div class="py-5 text-center">
        <h2>게시물 상세</h2>
    </div>

    <!-- 등록했을 때 화면 위에 글자 추가 -->
    <h2 th:if="${param.status}" th:text="'저장 완료'"></h2>

    <button class="w-100 btn btn-secondary"
            onclick="location.href='posts.html'"
            th:onclick="|location.href='@{/posts}'|"
            type="button">목록으로</button>

<!--    <div>-->
<!--        <label for="postId">게시물 번호</label>-->
<!--        <input type="text" id="postId" name="postId" class="form-control" value="1" th:value="${post.id}" readonly>-->
<!--    </div>-->
    <div>
        <label for="title">제목</label>
        <input type="text" id="title" name="title" class="form-control" value="제목" th:value="${post.title}" readonly>
    </div>
    <div>
        <label for="content">내용</label>
        <textarea id="content" name="content" class="form-control" rows="5" th:value="${post.content}" th:text="${post.content}" readonly></textarea>
    </div>
    <div>
        <label for="author">작성자</label>
        <input type="text" id="author" name="author" class="form-control" value="작성자" th:value="${post.name}" readonly>
    </div>
    <div>
        <label for="regDate">작성일</label>
        <input type="text" id="regDate" name="regDate" class="form-control"
               value="작성자" th:value="${post.regDate}" readonly>
    </div>

    <hr class="my-4">

<!--    <span th:text="${session.loginMember}"></span>-->

    <th:block th:if="${session.loginMember} != null and ${post.loginId == session.loginMember.loginId}">

        <form th:action="@{/posts/{postId}/delete(postId=${post.id})}" method="post" onsubmit="return confirm('게시물을 삭제하시겠습니까?')">

            <button class="btn btn-primary"
                    onclick="location.href='editForm.html'"
                    th:onclick="|location.href='@{/posts/{postId}/edit(postId=${post.id})}'|"
                    type="button">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                </svg>
                수정
            </button>


            <button class="btn btn-danger"
                    type="submit">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
                    <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
                </svg>
                삭제
            </button>
        </form>

    </th:block>

    <div class="my-5"></div>

    <!-- Comment list -->
    <div class="card my-4" th:if="${comments.size()} != 0">
        <h6 class="card-header">댓글 [[${comments.size}]]</h6>
        <ul class="list-group list-group-flush" >
            <li class="list-group-item" th:each="comment:${comments}">
                <span>
                    <span th:text="${comment.name}">nickname</span>
                    <small class="text-muted" th:text="${comment.regDate}">registerDate</small>
                    <th:block th:if="${session.loginMember} != null and ${comment.loginId == session.loginMember.loginId}">
<!--                        <button class="btn btn-primary btn-sm" id="btnCommentUpdate" onclick="editComment()">수정</button>-->
<!--                        <button class="btn btn-danger btn-sm">삭제</button>-->
<!--                        <a href="javascript:editComment();" class="text-decoration-none">-->
<!--                            수정-->
<!--                        </a>-->
                        <a href="javascript:;" class="text-decoration-none" th:onclick="editComment([[${comment.id}]]);">
                            수정
                        </a>
                        <a href="javascript:;" class="text-decoration-none text-danger" th:onclick="deleteComment([[${comment.id}]], [[${postId}]]);">
                            삭제
                        </a>
                    </th:block>
                </span>
                <input type="hidden" th:id="commentId" th:value="${comment.id}">

                <div class="content-wrapper my-3" th:id="'commentContent' + ${comment.id}">[[${comment.content}]]</div>

                <!-- 댓글 수정 폼 -->
                <form class="collapse multi-collapse my-3" th:id="'commentUpdateForm' + ${comment.id}" style="display:none;">
                    <input type="hidden" name="commentId" th:value="${comment.id}">
                    <input type="hidden" name="postId" th:value="${postId}">
                    <div class="form-group mb-3">
                        <textarea class="form-control" rows="3" id="commentUpdateContent" name="commentContent" th:text="${comment.content}"></textarea>
                    </div>
                    <button type="button" id="btnCommentUpdateSave" class="btn btn-outline-primary" onclick="editCommentSave(this.form)">저장</button>
                </form>

            </li>
        </ul>
    </div>

    <!-- Comment Form -->
    <div class="card my-4">
        <h6 class="card-header">댓글 쓰기</h6>
        <div class="card-body">
<!--            <form th:action="@{/comment/add(postId=${postId})}" th:method="post">-->
<!--                <div class="form-group mb-3">-->
<!--                    <textarea name="content" class="form-control" rows="3" placeholder="댓글을 입력하세요"></textarea>-->
<!--                </div>-->
<!--                <button type="submit" class="btn btn-outline-primary">등록</button>-->
<!--            </form>-->
            <form th:id="commentSaveForm" th:onsubmit="return addComment(this, event)">
                <div class="form-group mb-3">
                    <input type="hidden" name="postId" th:value="${postId}">
                    <textarea name="content" class="form-control" rows="3" placeholder="댓글을 입력하세요"></textarea>
                </div>
                <button type="submit" class="btn btn-outline-primary">등록</button>
            </form>
        </div>
    </div>




</div> <!-- /container -->

<!-- Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script th:src="@{/js/comment.js}" th:inline="javascript">
</script>
</body>
</html>