<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <link th:href="@{/css/bootstrap.min.css}"
        href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container" style="max-width: 600px">
  <div class="col-md-12">
    <div class="py-5 text-center">
      <h2>게시물 목록</h2>
    </div>
    <button class="btn btn-dark"
            th:onclick="|location.href='@{/}'|" type="button">
      홈으로
    </button>
    <button class="btn btn-primary"
            th:onclick="|location.href='@{/posts/add}'|" type="button">
      게시물 등록
    </button>

    <hr class="my-4">

    <div>
      <table class="table">
        <thead>
        <tr>
          <th>No.</th>
          <th>제목</th>
          <th>작성자</th>
          <th>작성일</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="post : ${posts}">
          <td th:text="${post.id}">게시물 번호</a></td>
          <td><a href="post.html" th:href="@{|/posts/detail?postId=${post.id}|}" th:text="${post.title}">제목</a></td>
          <td th:text="${post.member.loginId}">작성자</td>
          <td th:text="${post.regDate}">작성일</td>
        </tr>
        </tbody>
      </table>
    </div>

    <hr class="my-4">

  </div>
</div> <!-- /container -->

</body>
</html>