<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
</head>
<body>

<div class="container">

    <div class="py-5 text-center">
        <h2>게시물 상세</h2>
    </div>

    <!-- 등록했을 때 화면 위에 글자 추가 -->
    <h2 th:if="${param.status}" th:text="'저장 완료'"></h2>

    <button class="w-100 btn btn-secondary"
            onclick="location.href='posts.html'"
            th:onclick="|location.href='@{/posts}'|"
            type="button">목록으로</button>

<!--    <div>-->
<!--        <label for="postId">게시물 번호</label>-->
<!--        <input type="text" id="postId" name="postId" class="form-control" value="1" th:value="${post.id}" readonly>-->
<!--    </div>-->
    <div>
        <label for="title">제목</label>
        <input type="text" id="title" name="title" class="form-control" value="제목" th:value="${post.title}" readonly>
    </div>
    <div>
        <label for="content">내용</label>
        <textarea id="content" name="content" class="form-control" rows="5" th:value="${post.content}" th:text="${post.content}" readonly></textarea>
    </div>
    <div>
        <label for="author">작성자</label>
        <input type="text" id="author" name="author" class="form-control" value="작성자" th:value="${post.loginId}" readonly>
    </div>
    <div>
        <label for="regDate">작성일</label>
        <input type="text" id="regDate" name="regDate" class="form-control"
               value="작성자" th:value="${post.regDate}" readonly>
    </div>

    <hr class="my-4">

<!--    <span th:text="${session.loginMember}"></span>-->

    <th:block th:if="${session.loginMember} != null and ${post.loginId == session.loginMember.loginId}">

        <form th:action="@{/posts/{postId}/delete(postId=${post.id})}" method="post" onsubmit="return confirm('게시물을 삭제하시겠습니까?')">

            <button class="btn btn-primary"
                    onclick="location.href='editForm.html'"
                    th:onclick="|location.href='@{/posts/{postId}/edit(postId=${post.id})}'|"
                    type="button">수정</button>


            <button class="btn btn-danger"
                    type="submit">삭제</button>
        </form>

    </th:block>






</div> <!-- /container -->
</body>
</html>