<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <link th:href="@{/css/bootstrap.min.css}"
        href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container" style="max-width: 600px">
  <div class="py-5 text-center">
    <h2>게시물 목록</h2>
  </div>

  <div class="row">
    <div class="col">
    </div>
    <div class="col">
      <div class="col">
        <button class="btn btn-primary float-end"
                onclick="location.href='addForm.html'"
                th:onclick="|location.href='@{/posts/add}'|"
                type="button">게시물 등록
        </button>
      </div>
    </div>
  </div>


  <hr class="my-4">
  <div>
    <table class="table">
      <thead>
      <tr>
        <th>ID</th>
        <th>제목</th>
        <th>작성자</th>
        <th>날짜</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="post : ${posts}">
        <td><a href="post.html" th:href="@{/posts/{postId}(postId=${post.id})}" th:text="${post.id}">id</a></td>
        <td><a href="post.html" th:href="@{|/posts/${post.id}|}" th:text="${post.postTitle}">테스트입니다</a></td>
        <td th:text="${post.postAuthor}">unknown1</td>
        <td th:text="${post.regDate}">2023.07.04</td>
      </tr>
      </tbody>
    </table>
  </div>

</div> <!-- /container -->

</body>
</html>