
/* 공통 */
.divide-line {
   display: flex;
   align-items: center;
}

.divide-line .bar{
  flex: auto;
  border: none;
  height: 1px;
  background-color: #000;
}

.divide-line .txt {
  padding: 0 10px;
}

.n-signIn-btn {
  width: 48px;
  height: 48px;
  /* Set the background image */
  /* background-image: url('img/naver/btnG_icon.png'); */
  /* Make the background image cover the button */
  background-size: cover;
  /* Center the background image */
  background-position: center;
  /* Optional: Add some padding and other styles */
  padding: 10px;
  border: none;
}

.g-signIn-btn {
  width: 48px;
  height: 48px;
  /* Set the background image */
  /* background-image: url('img/google/btn_icon.png'); */
  /* Make the background image cover the button */
  background-size: cover;
  /* Center the background image */
  background-position: center;
  /* Optional: Add some padding and other styles */
  padding: 10px;
  border: none;
}

.n-login-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 12px;
  border-radius: 4px;
  border: 1px solid rgb(238, 238, 238);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 2px;
  color: white;
  font-weight: bold;
  letter-spacing: 0.02em;
  background-color:rgb(3, 199, 90);
  font-size: 18px;
}

.g-login-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 2px;
    font-size: 18px;
    padding: 12px;
    background-color: white;
    color: rgb(119, 119, 119);
    font-weight: bold;
    letter-spacing: 0.02em;
    width: 100%;
    border: 1px solid rgb(238, 238, 238);
}