<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">

<th:block layout:fragment="content">
    <div class="container inform" id="contentContainer">

        <title>홈</title>

        <div class="d-flex justify-content-center align-items-center" style="height:300px">

            <!-- 로그인 사용자 -->
            <th:block sec:authorize="isAuthenticated()">

                <!-- 유저 -->
                <th:block sec:authorize="hasAnyRole('ROLE_USER', 'ROLE_SOCIAL')">

                    <div class="container p-2">
                        <h5 class="mb-3">
                            <span th:text="${#authentication.principal.member.nickname}" class="fw-bold">닉네임</span>
                            님 로그인 하셨습니다
                        </h5>

                        <hr>

                        <div class="row">
                            <div class="col">
                                <button class="w-100 btn btn-lg btn-outline-primary" type="button"
                                        th:onclick="|location.href='@{/posts}'|">
                                    게시판
                                </button>
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col">
                                <button class="w-100 btn btn-outline-primary btn-lg" type="button"
                                        th:onclick="|location.href='@{/member/info}'|">
                                    마이페이지
                                </button>
                            </div>
                            <div class="col">
                                <form th:action="@{/logout}" method="post">
                                    <button class="w-100 btn btn-outline-primary btn-lg" type="submit" id="logoutBtn">
                                        로그아웃
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </th:block>

                <!-- 관리자 -->
                <th:block sec:authorize="hasRole('ROLE_ADMIN')">

                    <div class="container p-2">
                        <h5 class="mb-3">
                            <span th:text="${#authentication.principal.member.nickname}" class="fw-bold">닉네임</span>
                            관리자님 반갑습니다
                        </h5>
                        <hr>
                        <div class="row">
                            <div class="col">
                                <button class="w-100 btn btn-lg btn-outline-primary" type="button"
                                        th:onclick="|location.href='@{/posts}'|">
                                    게시판
                                </button>
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col">
                                <button class="w-100 btn btn-outline-primary btn-lg" type="button"
                                        th:onclick="|location.href='@{/admin}'|">
                                    관리자 페이지
                                </button>
                            </div>
                            <div class="col">
                                <form th:action="@{/logout}" method="post">
                                    <button class="w-100 btn btn-outline-primary btn-lg" type="submit">
                                        로그아웃
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </th:block>

            </th:block>

            <!-- 비로그인 사용자 -->
            <th:block sec:authorize="isAnonymous()">
                <div class="container px-4">
                    <button class="w-100 btn btn-lg btn-outline-primary" type="button"
                            th:onclick="|location.href='@{/posts}'|">
                        게시판
                    </button>
                    <div class="row gx-5 mt-3">
                        <div class="col">
                            <button class="w-100 btn btn-outline-primary btn-lg" type="button"
                                    th:onclick="|location.href='@{/signup}'|">
                                회원 가입
                            </button>
                        </div>
                        <div class="col">
                            <button class="w-100 btn btn-outline-primary btn-lg"
                                    th:onclick="|location.href='@{/login}'|" type="button">
                                로그인
                            </button>
                        </div>
                    </div>
                </div>
            </th:block>

        </div>


    </div> <!-- /container -->

</th:block>

<th:block layout:fragment="home">
    <script th:inline="javascript">
        window.addEventListener('load', function() {
            const openerWindow = window.opener;
            if(openerWindow) {
                openerWindow.location.href = "/";
                window.close();
            }

            const msg = [[${errorMessage}]];
            if(msg) {
                alert(msg);
            }
        });
    </script>
</th:block>

</html>