<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">
<head>

  <style>
    .divide-line {
       display: flex;
       align-items: center;
    }
    .bar{
      flex: auto;
      border: none;
      height: 1px;
      background-color: #000;
    }
    .txt {
      padding: 0 10px;
    }
  </style>
  <title>로그인</title>
</head>

<th:block layout:fragment="content">
  <div class="container">
    <div class="py-5 text-center">
      <h2>로그인</h2>
    </div>

    <!-- 회원성공 메세지 -->
<!--    <div th:if="${msg}" class="alert alert-success alert-dismissible fade show mt-3" role="alert">-->
<!--      <i class="bi bi-check-circle-fill"></i>-->
<!--      <span th:text="${msg}">가입완료</span>-->
<!--      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>-->
<!--    </div>-->

    <!-- social login -->
    <div class="d-flex flex-column my-3">
      <button class="btn btn-outline-primary btn-lg mb-3"
              th:onclick="|location.href='@{/oauth2/authorization/google}'|"
              type="button">구글 로그인</button>
      <button class="btn btn-outline-primary btn-lg mb-3"
              th:onclick="|location.href='@{/oauth2/authorization/naver}'|"
              type="button">네이버 로그인</button>
    </div>

    <div class="divide-line my-4">
      <hr class="bar">
      <span class="txt">OR</span>
      <hr class="bar">
    </div>

    <!-- 일반 로그인 -->
    <form id="loginForm" th:action="@{/login/process}" th:object="${loginForm}" method="post">

      <div th:if="${#fields.hasGlobalErrors()}">
        <p class="field-error" th:each="err : ${#fields.globalErrors()}"
           th:text="${err}">전체 오류 메시지</p>
      </div>

      <div th:if="${errorMessage}">
        <p class="field-error" th:text="${errorMessage}">오류 메시지</p>
      </div>

      <div>
        <label for="loginId">로그인 ID</label>
        <input type="text" id="loginId" th:field="*{loginId}" class="form-control"
               th:errorclass="field-error">
        <div class="field-error" th:errors="*{loginId}" />
      </div>

      <div>
        <label for="password">비밀번호</label>
        <input type="password" id="password" th:field="*{password}"
               class="form-control"
               th:errorclass="field-error">
        <div class="field-error" th:errors="*{password}" />
      </div>

      <hr class="my-4">

      <div class="row">
        <div class="col">
          <button class="w-100 btn btn-primary btn-lg" type="submit">
            로그인</button>
        </div>
      </div>

      <div class="row my-3 text-center">
        <p>
          <a th:href="@{/signup}" class="text-decoration-none">
            회원가입
          </a>
        </p>

        <p>
          <a th:href="@{/find/id}" class="text-decoration-none">
            아이디/비밀번호 찾기
          </a>
        </p>
      </div>

    </form>
  </div> <!-- /container -->

</th:block>
</html>