
/* 공통 */

/* ------------------------------------------------------------------ */
/* 글자 크기 */
.ck-content .text-tiny {
    font-size: .7em;
}
.ck-content .text-small {
    font-size: .85em;
}
.ck-content .text-big {
    font-size: 1.4em;
}
.ck-content .text-huge {
    font-size: 1.8em;
}

/* ------------------------------------------------------------------ */
/* image */

/* 크기 변경 + 오른쪽 정렬 */
.ck-content .image.image_resized.image-style-side {
    margin-left: auto;
    margin-right: 0;
}

/* 크기 변경 + 가운데 정렬 */
.ck-content .image.image_resized {
    margin: 0 auto;
}

/* 크기 변경 + 정렬 */
.ck-content .image.image_resized img {
    width: 100%;
    height: 100%;
}

/* 크기 변경(기본 왼쪽 정렬) */
.ck-content img.image_resized {
    /* height:100%; */
    height: auto;
}

/* 오른쪽 정렬 */
.ck-content .image.image-style-side {
    display: grid;
    place-items: end;
}

/* 가운데 정렬 */
.ck-content .image {
    display: grid;
    place-items: center;
}

.ck-content .image > figcaption {
    display: table-caption;
    caption-side: bottom;
    word-break: break-word;
    color: var(--ck-color-image-caption-text);
    background-color: var(--ck-color-image-caption-background);
    padding: .6em;
    font-size: .75em;
    outline-offset: -1px;
}

/* ------------------------------------------------------------------ */
/* ol,ul */

.ck-content ol {
    list-style-type: decimal;
}
.ck-content ol ol {
    list-style-type: lower-latin;
}
.ck-content ol ol ol {
    list-style-type: lower-roman;
}
.ck-content ol ol ol ol {
    list-style-type: upper-latin;
}
.ck-content ol ol ol ol ol {
    list-style-type: upper-roman;
}
.ck-content ul {
    list-style-type: disc;
}
.ck-content ul ul {
    list-style-type: circle;
}
.ck-content ul ul ul {
    list-style-type: square;
}
.ck-content ul ul ul ul {
    list-style-type: square;
}

/* ------------------------------------------------------------------ */
/* black quote */
.ck-content blockquote {
    overflow: hidden;
    padding-right: 1.5em;
    padding-left: 1.5em;
    margin-left: 0;
    margin-right: 0;
    font-style: italic;
    border-left: solid 5px hsl(0, 0%, 80%);
}
.ck-content[dir="rtl"] blockquote {
    border-left: 0;
    border-right: solid 5px hsl(0, 0%, 80%);
}

/* ------------------------------------------------------------------ */
/* table */
.ck-content .table .ck-table-resized {
    table-layout: fixed;
}
.ck-content .table table {
    overflow: hidden;
}
.ck-content .table td,
.ck-content .table th {
    overflow-wrap: break-word;
    position: relative;
}
.ck-content .table > figcaption {
    display: table-caption;
    caption-side: top;
    word-break: break-word;
    text-align: center;
    color: var(--ck-color-selector-caption-text);
    background-color: var(--ck-color-selector-caption-background);
    padding: .6em;
    font-size: .75em;
    outline-offset: -1px;
}
.ck-content .table {
    margin: 0.9em auto;
    display: table;
}
.ck-content .table table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    height: 100%;
    border: 1px double hsl(0, 0%, 70%);
}
.ck-content .table table td,
.ck-content .table table th {
    min-width: 2em;
    padding: .4em;
    border: 1px solid hsl(0, 0%, 75%);
}
.ck-content .table table th {
    font-weight: bold;
    background: hsla(0, 0%, 0%, 5%);
}
.ck-content[dir="rtl"] .table th {
    text-align: right;
}
.ck-content[dir="ltr"] .table th {
    text-align: left;
}