
/* 공통 */
.container {
    max-width: 845px;
}
.container.inform {
    max-width: 720px;
}


.field-error {
    border-color: #dc3545;
    color: #dc3545;
}
.form-error {
    border: 1px solid #dc3545;
}
.select-error {
    border-color: #dc3545;
}
input::placeholder {
  font-size: 0.8em;
}
.re .content-wrapper {
    padding-left: 1.4rem;
}
.text-underline-hover {
    text-decoration: none;
}
.text-underline-hover:hover {
    text-decoration: underline;
}
.btn-group {
    vertical-align:inherit;
}

/* 테이블 내용 폰트 크기 */
tbody {
    font-size: 15px;
}


/* ------------------------------------------------------------------ */
/* 이미지 유무 */
.upload_image {
    display: inline-block;
    width: 12px;
    height: 11px;
}


/* ------------------------------------------------------------------ */
/* 줄바꿈 */

/* posts, searchedPost, memberOwnDocument, memberDocument, adminOwnDocument */
th,td:not(.title):not(.content) {
  white-space:nowrap;
  text-align:center;
}
.title {
  white-space:normal;
  word-break:break-all;
}

/* ------------------------------------------------------------------ */
/* 모바일 화면 */
.separator::after {
  content: " | ";
}
.info {
    font-size:12px;
    color:#999
}